<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style> 
    body{
        background-color: #cc0000
    }
    ul{
        color: #ffffff;
        font-family: Raleway;
        font-size: 60px;
    }
    
    li{
        color: #ffffff;
        font-family: Raleway;
        font-size: 40px;
        padding-top: 30px;
       }

</style> 
</head>
<body>
<ul> how it works
<li> make an account on our app where you will enter your <b> name, phone number, emergency contact </b> </li>
<li> to start partypal text <b> '[start]'</b>  to +1 831-508-1228  </li>
<li> once the session begins partypal will check in every 30 minutes and ask 'hey how's the party going?' </li>
<li> if you respond with <b> '[help]' </b> then partypal immediately alerts your chosen emergency contacts for help </li>
<li> to end the session text <b> '[end]' </b> </li>
</ul>
</body>
</html>
